.brand img {
    width: 50%;
    height: auto;
    border: 1px solid;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    height: 20px;
    background-color: #00021f;
}

.hot_drink, .cold-drink {
    background: #424C4E;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid;
    border-radius: 50px;
    padding: 20px;
}

.hot_drink h1, .cold-drink h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.hot_drink ul, .cold-drink ul {
    padding-left: 0;
    list-style: none;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.item-container:last-child {
    border-bottom: none;
}

.english, .arabic {
    flex: 1;
    font-size: 1.2rem;
}

.price {
    flex: 0 0 20%;
    text-align: center;
}



/* Media queries */
@media (max-width: 768px) {
    .brand img {
        width: 80%;
    }
    
    .hot_drink h1, .cold-drink h1 {
        font-size: 2rem;
    }

    .english, .arabic {
        font-size: 1rem;
    }

    .price {
        flex: 0 0 30%;
    }
}

@media (max-width: 480px) {
    .brand img {
        width: 90%;
    }
    
    .hot_drink h1, .cold-drink h1 {
        font-size: 1.5rem;
    }

    .english, .arabic {
        font-size: 0.9rem;
    }

    .price {
        flex: 0 0 40%;
    }
}
